body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: #fff;
}

.background {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: url("jazan-university.jpg") no-repeat center center/cover;
  opacity: 0.5; /* transparency */
  z-index: -1;
}

.content {
  text-align: center;
  padding: 60px 20px;
}

.content h1 {
  color: black;
  font-size: 33px;
  margin-bottom: 29px;
}

.content p {
  color: rgb(121, 34, 34);
  font-size: 24px;
  line-height: 1.6;
}
.content p1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  line-height: 1.6;
}

.footer {
  margin-top: 50px;
}

.footer a {
  color: #ffd166;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  color: #ff3b3b;
}
